<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Headphone Mania - The best shop in the world for headphones.</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Products</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Order History</a>
        </nav>
    </div>
</header>