.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

#sendmessage,
#inprogress {
  color: #022b3a;
  border: 1px solid #022b3a;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 40px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#inprogress.show,
#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}
