<div class="container-fluid py-3">
    {{> header }}

    <main>
        <div class="row">
            <div class="col-md-12 mb-4">
                
            </div>
        </div>
    </main>

    {{> footer}}
</div>